body{
    margin: 0;
}

.base-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.filter-and-history-sidebar {
    max-width: 300px;
    width: 300px;
    flex: 0 0 300x;
    background-color: rgba(16, 15, 15, 0.904);
    overflow: auto;
}

.output-container {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
}